@import url(https://fonts.googleapis.com/css?family=Lato:700);
body {
  background-color: lightgoldenrodyellow;
}
.swap-selected {
  font-weight: bolder;
  border: red;
  border-style: solid;
}

.hide {
  display: none;
}

.title {
  text-align: left;
  font-size: 40px;
  font-weight: bolder;
}

.result {
  font-size: 40px;
}

.center {
  justify-self: center;
}

.sub {
  font-size: 40px;
  font-weight: bolder;
  color: rebeccapurple;
}

.vrsScore {
  font-size: 40px;
  font-weight: bolder;
  justify-self: center;
  color: rebeccapurple;
  width: 70%;
  margin-bottom: 10px;
}

.bigbut {
  height: 100px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.concede {
  width: 100%;
  height: 100px;
  margin-top: 30px;
}

.kickoff {
  width: 100%;
  height: 110px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.state {
  width: 100%;
  height: 110px;
  margin-bottom: 40px;
  display: none;
  grid-template-columns: 30% 40% 30%;
}

.where {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  margin: 10px;
}

.scored {
  text-align: center;
  color: red;
  font-size: 100px;
}

.red {
  color: red;
}

.time {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 40px;
}

.teams {
  width: 100%;
  display: grid;
  grid-template-columns: 400px 80px 400px;
  grid-gap: 10px;
  grid-template-rows: 100px;
  justify-content: center;
}

.name {
  margin-left: 7px;
  margin-right: 7px;
}

button {
  font-size: 40px;
}

.linked {
  border: orange;
  border-style: solid;
}

input {
  font-size: 30px;
  background-color: #e6e5d8;
}

.plain {
  font-size: 33px;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
}

.pitch
 {
  display: grid;
  /** grid-template-columns: 186px 186px 186px 186px 186px; **/
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 100px 100px 100px 150px;
  grid-gap: 8px;
  background-color: green;
  width: 100%;
}

.posInput {
  background-color: #cdd4cd;
/**  width: 180px; **/
  width: 100%;
  height: 100px;
}


.pos {
  margin: 10px
  background-color: #b1d6b1;
  position: relative;
  width: 90%;
  height: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.ribbon {
  width: 100px;
  height: 100px;
  /*overflow: hidden;*/
  position: absolute;
}

.abso {
  position: relative;
}

.hundred {
  height: 100%;
  width: 100%;
}

.caprib {
  min-height: 40px;
  text-align: center;
  font-size: 20px;
  border: 30px solid rgb(124, 70, 70);
  width: 100px;
}

.capbox {
  display: grid;
  grid-template-columns: auto auto;
  border: 5px solid white
}

.capInput {
  min-height: 50px;
  text-align: start;
  font-size: 40px;
  color: white;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 100px;
  margin-left: -108%;
  margin-top: -39%;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 30 15px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  margin-top: 40px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 100;
  right: 40;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  transform: rotate(-45deg);
}

.crossout {
  text-decoration: line-through;
}

.posPlay {
  margin: 10px;
  background-color: #cdd4cd;
  width: 91%;
  min-width: 60px;
  min-height: 80px;
}

.results {
  display: grid;
  grid-template-columns: 3fr 10fr 1fr;
  grid-gap: 10px;
}

.bench {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 100px;
  grid-gap: 10px;
}
